.second-bg
  background-color: var(--main-bg-color)
.second-bg-d
  background-color: var(--main-bg-color-d)

// .active-bg
//   transition: 0.2s ease-in-out
// .active-bg:hover
//   background-color: var(--main-bg-color-d)

.white-color
  color: var(--white-color)

.gray-color
  color: var(--gray-color)

.red-color
  color: var(--red-color)

.dark-bg
  background-color: var(--main-bg-color-darker)

.container-bg
  background-color: var(--container-bg)
  border-radius: 10px
  box-shadow: var(--shadows)
.container-bg-d
  background-color: var(--container-bg-d)
  border-radius: 10px
  box-shadow: var(--shadows)
