<div class="row space-services space white-color center">
	<div
		class="card card-services dark-bg active-bg space"
		style="padding: 0; max-width: 82.5%"
	>
		<div class="card-header second-bg div-space">
			<h6 class="thin">Aleksey Vratsky</h6>
		</div>
		<div
			class="row space-services row-service card-body item-service-img"
			style="align-items: flex-start"
		>
			<div class="service-image-wrap" style="width: 8rem">
				<picture>
					<source
						srcset="./source/media/images/Aleksey-Vratsky.avif"
						type="image/avif"
					/>
					<source
						srcset="./source/media/images/Aleksey-Vratsky.webp"
						type="image/webp"
					/>
					<img
						src="./source/media/images/Aleksey-Vratsky.jpg"
						width="100%"
						height="100%"
						alt="Aleksey Vratsky"
					/>
				</picture>
			</div>
			<div class="service-about-wrap" style="max-width: 85%">
				<blockquote class="blockquote mb-0">
					<h5>I guess I'll start without preface, my experience:</h5>
					<br />
					<p class="gray-color">
						1 year of work at a TV channel in the IT department, responsible for
						the development of the website for a charitable foundation. <br />
						Worked for Unitra, developing sites for promotion and subsequent
						sale of traffic from them.<br />
						I was looking for clients and made them sites, almost all my
						projects and posted
						<a href="https://www.behance.net/alexvracky" target="_blank">
							here
							<img
								src="./source/media/icons/link.svg"
								width="14"
								height="14"
								style="border: 0"
							/>
						</a>
					</p>

					<footer class="blockquote-footer gray-color">
						<cite title="Source Title"
							><span class="white-color thin"
								>Right now learning JavaScript</span
							></cite
						>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-md-6 col-sm-12 evenly-service fill-available">
		<div
			class="card card-services dark-bg active-bg space"
			style="width: 18rem"
		>
			<picture>
				<source
					srcset="./source/media/images/one-page.avif"
					type="image/avif"
				/>
				<source
					srcset="./source/media/images/one-page.webp"
					type="image/webp"
				/>
				<img
					src="./source/media/images/one-page.jpg"
					class="rounded-start"
					width="100%"
					height="100%"
					alt="Vratsky template"
				/>
			</picture>
			<div class="card-body">
				<h5 class="card-title space-bottom-little">at $350*</h5>
				<p class="card-text gray-color">
					Develop a one-page site for your purposes from scratch, or create a
					site using a ready-made template on WordPress.
				</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item second-bg white-color">Technology</li>
				<li class="list-group-item second-bg gray-color">WordPress</li>
				<li class="list-group-item second-bg gray-color">HTML+CSS+JS</li>
			</ul>
			<div class="card-body">
				<h3></h3>
			</div>
		</div>
		<div
			class="card card-services dark-bg active-bg space"
			style="width: 18rem"
		>
			<picture>
				<source srcset="./source/media/images/blog.avif" type="image/avif" />
				<source srcset="./source/media/images/blog.webp" type="image/webp" />
				<img
					src="./source/media/images/blog.jpg"
					class="rounded-start"
					width="100%"
					height="100%"
					alt="Vratsky template"
				/>
			</picture>
			<div class="card-body">
				<h5 class="card-title space-bottom-little">at $450*</h5>
				<p class="card-text gray-color">
					A blog with a ready-made template, handy admin panel will allow you to
					quickly create and edit news, as well as modify the site yourself.
				</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item second-bg white-color">Technology</li>
				<li class="list-group-item second-bg gray-color">WordPress</li>
			</ul>
			<div class="card-body">
				<h3></h3>
			</div>
		</div>
		<div
			class="card card-services dark-bg active-bg space"
			style="width: 18rem"
		>
			<picture>
				<source srcset="./source/media/images/shop.avif" type="image/avif" />
				<source srcset="./source/media/images/shop.webp" type="image/webp" />
				<img
					src="./source/media/images/shop.jpg"
					class="rounded-start"
					width="100%"
					height="100%"
					alt="Vratsky template"
				/>
			</picture>
			<div class="card-body">
				<h5 class="card-title space-bottom-little">at $550*</h5>
				<p class="card-text gray-color">
					Many ready-made templates as well as excellent support will quickly
					set up and run your online store.
				</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item second-bg white-color">Technology</li>
				<li class="list-group-item second-bg gray-color">WordPress</li>
			</ul>
			<div class="card-body">
				<h3></h3>
			</div>
		</div>
	</div>
</div>
